:root {
  --grey_1: #fbfbfb;
  --grey_2: #efefef;
  --grey_3: #cccccc;
  --grey_4: #aaaaaa;
  --grey_5: #404040;
  --black_1: #666666;
  --black_2: #404040;
  --black_3: #1a1a1a;
  --black_4: #161616;
  --black_5: #111111;
  --filter_primary: brightness(0%) saturate(100%) invert(9%) sepia(82%)
    saturate(7439%) hue-rotate(219deg) brightness(79%) contrast(101%);
  --filter_primary_dark: brightness(0%) saturate(100%) invert(7%) sepia(59%)
    saturate(7208%) hue-rotate(214deg) brightness(92%) contrast(106%);
  --filter_text: brightness(0%) saturate(100) invert(0%) sepia(3%)
    saturate(1462%) hue-rotate(60deg) brightness(84%) contrast(80%);
  --filter_grey_4: brightness(0%) saturate(100) invert(95%) sepia(0%)
    saturate(63%) hue-rotate(194deg) brightness(78%) contrast(102%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: var(--text);
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 16px;
  letter-spacing: 0em;
}

code {
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus,
select:focus,
textarea:focus {
  outline: none;
}
select {
  appearance: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

::selection {
  background: #0000fe; /* WebKit/Blink Browsers */
  color: #ffffff;
}
::-moz-selection {
  background: #0000fe; /* Gecko Browsers */
  color: #ffffff;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  z-index: 5;
}

/* Colors */
.colorWhite {
  color: var(--white);
}

.colorPrimary {
  color: var(--primary);
}

.backdrop.open {
  opacity: 1;
  pointer-events: all;
}

.noDisplay {
  display: none;
}

.fullWidth {
  width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStart {
  align-items: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifySpaceAround {
  justify-content: space-around;
}

.gridColumn {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cursorPointer {
  cursor: pointer;
}

.circle {
  border-radius: 50%;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textUnderline {
  text-decoration: underline;
}

.textUpperCase {
  text-transform: uppercase;
}

.textCapitalize {
  text-transform: capitalize;
}

.textBold {
  font-weight: 700;
}
.paddingTop {
  margin-top: 9.6rem;
}

.displayLarge {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 108px;
  letter-spacing: 0px;
}

.displayLargeBold {
  font-family: "Arial";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0px;
}

.displayMedium {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0px;
}

.displayMediumBold {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0px;
}

.displaySmall {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
}

.displaySmallBold {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
}

.textLarge {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
}

.textLargeBold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}

.textMedium {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

.textMediumBold {
  font-family: "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
}

.textSmall {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.textSmallBold {
  font-family: "Arial";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}

.textXSmall {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.container {
  padding: 0 4.2rem;
}

.section {
  height: 768px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .displayLarge {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0px;
  }

  .displayLargeBold {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0px;
  }

  .displayMedium {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
  }

  .displayMediumBold {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
  }

  .displaySmall {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .displaySmallBold {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .textLarge {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
  }

  .textLargeBold {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
  }

  .textMedium {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
  }

  .textMediumBold {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
  }

  .textSmall {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .textSmallBold {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .container {
    padding: 0 2.4rem;
  }
}
